<!-- Pie de página -->
<footer class="footer">
    <div class="footer-container">
        <!-- Sección izquierda -->
        <div class="footer-section footer-left">
            <a href="https://udg.mx/"target="_blank"><img src="./media/LogoCUCEA.png" alt="CUCEA Logo" class="footer-logo"></a>
        </div>
        <!-- Sección central -->
        <div class="footer-section footer-center">
            <p>Centro Universitario de Ciencias Económica Administrativas</p>
            <p>Periférico Norte N° 799, Núcleo Universitario Los Belenes, C.P. 45100</p>
            <p>Zapopan, Jalisco, México. Teléfono: +52 (33) 3770 3300</p>
        </div>
        <!-- Sección derecha -->
        <div class="footer-section footer-right">
            <h3>Enlaces de interés</h3>
            <ul>
                <li><a href="https://www.cucea.udg.mx/"target="_blank">cucea.udg.mx</a></li>
                <li><a href="https://www.cucea.udg.mx/es/servicios"target="_blank">Servicios CUCEA</a></li>
                <li><a href="https://www.cucea.udg.mx/es/cucea-online"target="_blank">CUCEA online</a></li>
                <li><a href="https://www.cucea.udg.mx/es/contacto"target="_blank">Contacto CUCEA</a></li>
            </ul>
        </div>
    </div>
</footer>