<div class="container mt-5">
    <h2 class="text-center mb-4">Eventos Pasados</h2>
    <div class="row">
      <div *ngFor="let evento of eventosPasados" class="col-md-4 mb-4">
        <div class="card">
          <a href="" target="_blank">
            <img [src]="evento.imagen || '../../../assets/default.jpg'" alt="evento" class="card-img-top">
          </a>
          <div class="card-body">
            <h5 class="card-title">{{ evento.nombre }}</h5>
            <p class="card-text"><strong>Fecha:</strong> {{ evento.fecha | date }}</p>
            <p class="card-text"><strong>Hora:</strong> {{ evento.hora_inicio }}</p>
            <p *ngIf="evento.lugar" class="card-text"><strong>Lugar:</strong> {{ evento.lugar }}</p>
            <p class="card-text"><strong>Ponente:</strong> {{ evento.descripcion }}</p>
            <p class="card-text"><strong>Espacio:</strong> {{ evento.espacio }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  