<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 menu">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="inicio">Inicio</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
              Eventos
            </a>
            <ul class="dropdown-menu submenu">
              <li><a class="dropdown-item" routerLink="proximos_eventos"><i class="fas fa-calendar-alt"></i> Próximos Eventos</a></li>
              <li><a class="dropdown-item" routerLink="eventos_pasados"><i class="fas fa-history"></i> Eventos Pasados</a></li>
            </ul>
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="register" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Calendario
            </a>
            <ul class="dropdown-menu submenu">
              <li><a class="dropdown-item" routerLink="#"><i class="fas fa-edit"></i> Registro de Evento</a></li>
            </ul>
          </li> -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="#" data-bs-toggle="dropdown" aria-expanded="false">
              Solicitudes
            </a>
            <ul class="dropdown-menu submenu">
              <li><a class="dropdown-item" routerLink="solicitudes"><i class="fas fa-edit"></i> Registro de Evento</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="preguntas">Preguntas Frecuentes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="administrador">Admin</a>
          </li>
        </ul>

        <!-- Mostrar nombre del usuario si está autenticado, de lo contrario mostrar enlaces de inicio y registro -->
        <div *ngIf="userName; else guestLinks">
          <span>Bienvenido, {{ userName }}</span>
          <button (click)="logout()" class="btn btn-outline-danger ms-2">Cerrar sesión</button>
        </div>
        <ng-template #guestLinks>
          <a routerLink="/login" class="btn btn-primary me-2">Iniciar sesión</a>
          <a routerLink="/register" class="btn btn-success">Registrarse</a>
        </ng-template>
      

        <!-- Añadir las imágenes -->
        <div class="menu-logo">
          <img src="../../../assets/LogoCUCEA.png" alt="CUCEA Logo" class="menu-image">
          <img src="../../../assets/Logo_azul.png" alt="Vive el CUCEA Logo" class="menu-image">
        </div>
      </div>
    </div>
  </nav>
</header>

