<header>
    <nav class="navbar">
        <!-- Menú Principal -->
        <ul class="menu">
            <li><a routerLink="inicio">Inicio</a></li>
            <li><a routerLink="registro">Registrarse</a></li>
            <li><a routerLink="login">Iniciar Sesion</a></li>
            <li><a href="#">Eventos&#9662;</a>
                <ul class="submenu">
                    <li><a href="./proximoseventos.html"><i class="fas fa-calendar-alt"></i> Próximos eventos</a></li>
                    <li><a href="#"><i class="fas fa-history"></i> Eventos pasados</a></li>
                </ul>
            </li>
            <li><a href="#">Calendario&#9662;</a>
                <ul class="submenu">
                    <li><a href="#"><i class="fas fa-edit"></i> Registro de evento</a></li>
                </ul>
            </li>
            <li><a href="#">Solicitudes&#9662;</a>
                <ul class="submenu">
                    <li><a href="#"><i class="fas fa-clipboard-list"></i> Tipos de espacios</a></li>
                </ul>
            </li>
            <li><a routerLink="preguntas">Preguntas Frecuentes</a></li>
            <!-- Imágenes alineadas a la derecha -->
            <div class="menu-logo">
                <img src="../../../assets/LogoCUCEA.png" alt="CUCEA Logo" class="menu-image">
                <img src="../../../assets/Logo_azul.png" alt="Vive el CUCEA Logo" class="menu-image">
            </div>
        </ul>
    </nav>
</header>