<div class="accordion" id="faqAccordion">
  <div>
    <h2 class="h2 text-center mt-3">Preguntas Frecuentes (FAQ)</h2>
    <h3 class="h3 text-center">¿Tienes dudas? Nosotros tenemos las respuestas.</h3>
    <p class="parrafo text-center">
      Sabemos que al registrarte o participar en eventos académicos pueden surgir algunas preguntas. 
      En este espacio, hemos reunido las dudas más comunes para ayudarte a aprovechar al máximo nuestra plataforma y las oportunidades que ofrece. 
      Si no encuentras aquí lo que buscas, no dudes en contactarnos.
    </p>
  </div>
  
  <!-- Primer ítem del acordeón -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button mt-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Registro de evento
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
      <div class="accordion-body">
        <strong>¿Cómo puedo registrarme para un evento?</strong>
        <p>Puedes registrarte directamente desde la página del evento en nuestro Calendario de Eventos. 
        Solo necesitas completar un formulario sencillo y recibirás una confirmación por correo electrónico.</p>

        <strong>¿Es necesario registrarse para todos los eventos?</strong>
        <p>Sí, te recomendamos registrarte con antelación, ya que algunos eventos tienen cupo limitado y es importante asegurar tu lugar.</p>

        <strong>¿Hay algún costo para asistir a los eventos?</strong>
        <p>La mayoría de los eventos académicos organizados por la universidad son gratuitos para estudiantes, docentes y personal administrativo. 
        Algunos eventos especializados pueden tener un costo, que será indicado en la descripción del evento.</p>

        <strong>¿Puedo cancelar mi registro si ya no puedo asistir?</strong>
        <p>Sí, puedes cancelar tu registro desde el panel de usuario en cualquier momento. 
        Agradecemos que lo hagas con anticipación para liberar el lugar para otros participantes.</p>

        <strong>¿Qué tipo de eventos se ofrecen?</strong>
        <p>Ofrecemos una amplia variedad de eventos académicos, que incluyen conferencias, seminarios, talleres, 
        mesas redondas, ferias de investigación y más, tanto en formato presencial como en línea.</p>

        <strong>¿Cómo puedo saber si el evento será presencial o en línea?</strong>
        <p>La modalidad del evento estará claramente especificada en la descripción de cada evento dentro del Calendario de Eventos.</p>

        <strong>¿Qué sucede si un evento cambia de horario o se cancela?</strong>
        <p>Si un evento sufre modificaciones, te notificaremos inmediatamente a través del correo electrónico que proporcionaste al registrarte.</p>

        <strong>¿Puedo obtener un certificado de participación?</strong>
        <p>Algunos eventos ofrecen certificados de participación. Esta información se detalla en la descripción del evento, 
        y podrás descargar el certificado desde tu panel de usuario tras finalizar el evento.</p>

        <strong>¿Cómo puedo proponer un evento académico?</strong>
        <p>Si deseas organizar o proponer un evento, puedes hacerlo a través de la sección de "Propuestas de Eventos" en nuestra plataforma. 
        Nuestro equipo revisará tu solicitud y se pondrá en contacto contigo.</p>
      </div>
    </div>
  </div>

  <!-- Segunda pregunta -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Registros de espacios
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#faqAccordion">
      <div class="accordion-body">

        <strong>¿Cómo puedo solicitar la reserva de un espacio para un evento?</strong>
        <p>Puedes solicitar la reserva de un espacio accediendo al formulario en línea disponible en esta página. 
          Simplemente selecciona el tipo de espacio que necesitas, elige la fecha y hora, y completa los datos requeridos. 
          Una vez enviada tu solicitud, recibirás una confirmación por correo electrónico.</p>

        <strong>¿Con cuánta antelación debo solicitar un espacio?</strong>
        <p>Te recomendamos realizar la solicitud con al menos 5 días hábiles de antelación para asegurar la disponibilidad del espacio. 
        Sin embargo, la disponibilidad puede variar según la demanda y la época del año.</p>

        <strong>¿Puedo modificar o cancelar mi solicitud después de enviarla? </strong>
        <p>Sí, puedes modificar o cancelar tu solicitud ingresando a tu cuenta en el sistema de gestión de espacios. 
        Desde allí podrás revisar el estado de tu reserva y hacer los cambios necesarios, siempre y cuando lo hagas con un periodo de cancelación/modificación, como 48 horas de antelación.</p>
        
        <strong>¿Hay algún costo asociado con la reserva de espacios?</strong>
        <p>La mayoría de los espacios dentro del CUCEA están disponibles para uso académico sin costo. Sin embargo, ciertos espacios especiales o para eventos grandes pueden tener una tarifa de uso. 
        Estos cargos serán especificados durante el proceso de reserva si aplican.</p>
        
        <strong>¿Qué tipo de eventos puedo realizar en los espacios del CUCEA? </strong>
        <p>Los espacios están disponibles para una variedad de eventos, incluyendo reuniones académicas, conferencias, talleres, exposiciones y actividades estudiantiles. 
        Algunos espacios pueden tener restricciones específicas según su naturaleza, como auditorios o laboratorios.</p>
          
        <strong>¿Qué pasa si el espacio que quiero no está disponible en la fecha que necesito?</strong>
        <p>Si el espacio no está disponible en la fecha solicitada, te sugerimos elegir otro día o verificar otros espacios similares en el sistema de reserva. 
        También puedes contactar al equipo de soporte para recibir recomendaciones sobre alternativas.</p>

        <strong>¿Qué debo hacer si necesito equipo audiovisual o mobiliario adicional?</strong>
        <p>En el formulario de solicitud, podrás especificar si necesitas equipo adicional como proyectores, micrófonos, altavoces, o mobiliario extra como mesas y sillas.
        Asegúrate de hacerlo durante la solicitud para que podamos confirmar la disponibilidad del equipo y los arreglos necesarios.</p>

        <strong>¿Cuáles son las normas de uso de los espacios?</strong>
        <p>Todos los usuarios deben cumplir con las normativas de uso del CUCEA, que incluyen mantener el espacio limpio, respetar los horarios de reserva y evitar causar daños. 
        Las reglas específicas se pueden consultar en nuestra sección de políticas de uso.</p>

        <strong>¿Cómo sé si mi solicitud ha sido aprobada? </strong>
        <p>Recibirás un correo electrónico de confirmación una vez que tu solicitud haya sido revisada y aprobada. 
        Este correo incluirá los detalles de la reserva, así como cualquier instrucción adicional que debas seguir.</p>

        <strong>¿A quién puedo contactar si tengo problemas con mi solicitud o el espacio reservado?</strong>
        <p>Si tienes algún problema, puedes ponerte en contacto con nuestro equipo de soporte a través del formulario de contacto en esta página o llamando al número que encontrarás en la sección de contacto.</p>

        <strong>¿Puedo solicitar múltiples espacios para el mismo evento?</strong>
        <p>Sí, puedes hacer una solicitud múltiple para diferentes espacios si tu evento lo requiere. 
        Simplemente indícalo en el formulario de reserva o realiza varias solicitudes separadas.</p>

        <strong>¿Qué debo hacer si necesito reservar un espacio fuera del horario habitual de la universidad?</strong>
        <p>Las solicitudes para eventos fuera del horario normal deben ser aprobadas de manera especial. 
              Asegúrate de mencionarlo en tu solicitud para que podamos revisarlo y coordinar el acceso fuera de horario.</p>

        <strong>¿Puedo traer catering o comida al espacio reservado?</strong>
        <p>Algunos espacios permiten la presencia de catering o comida, pero es necesario que lo indiques en la solicitud y sigas las normas de uso establecidas. 
        Verifica las políticas específicas de cada espacio.</p>

      </div>
    </div>
  </div>
  
</div>
