<div class="container mt-5">
    <div class="row mb-4">
        <div class="col-md-6">
            <div class="card">
                <a href="../../../assets/img.jpg" target="_blank">
                    <img src="../../../assets/img.jpg" class="card-img-top" alt="evento">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Charlas Experiencias Empresariales</h5>
                    <p class="card-text"><strong>Fecha:</strong> Miércoles 30 de octubre de 2024</p>
                    <p class="card-text"><strong>Hora:</strong> 9:00 a 11:00 hrs</p>
                    <p class="card-text"><strong>Lugar:</strong> Auditorio CERI</p>
                    <p class="card-text"><strong>Ponente:</strong> Marina García García</p>
                    <p class="card-text"><strong>Espacio:</strong> Presencial</p>
                    <a class="btn btn-primary" routerLink="/login">REGISTRATE</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <a href="../../../assets/imagen.jpg" target="_blank">
                    <img src="../../../assets/imagen.jpg" class="card-img-top" alt="evento">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Conferencia</h5>
                    <p class="card-text"><strong>Fecha:</strong> Miércoles 29 de octubre de 2024</p>
                    <p class="card-text"><strong>Hora:</strong> 17:00 hrs</p>
                    <p class="card-text"><strong>Lugar:</strong> Auditorio CERI</p>
                    <p class="card-text"><strong>Impartida por:</strong> Mtro José Manuel Jurado Parres</p>
                    <p class="card-text"><strong>Espacio:</strong> Presencial</p>
                    <button class="btn btn-primary" routerLink="/login">REGÍSTRATE</button>
                </div>
            </div>
        </div>
    </div>
</div>