<div class="img1">
    <a href=""target="_blank"><img src="../../../assets/img.jpg" alt="evento" class="img1"></a>
</div>
<div class=".text1">
    <p>Fecha: Miercoles 30 de octubre de 2024</p>
    <p>Charlas Experiencias Empresariales</p>
    <p>Hora: 9:00 a 11:00 hrs</p>
    <p>Lugar:Auditorio CERI</p>
    <p>Ponente: Marina García García</p>
    <p>Espacio: presencial</p>
    <input type="button" value="REGISTRATE" />
</div>
<a href=""target="_blank"><img src="../../../assets/imagen.jpg" alt="evento" class="img2"></a>
<div class=".text1">
    <p>Fecha: Miercoles 29 de octubre de 2024</p>
    <p>conferencia</p>
    <p>Hora: 17:00 hrs</p>
    <p>Lugar:Auditorio CERI</p>
    <p>Impartida: Mtro José Manuel Jurado Parres</p>
    <p>Espacio: presencial</p>
    <input type="button" value="REGISTRATE" />
</div>
