<div class="container my-5">
    <div class="row text-center">
        <!-- Bloque 1 -->
        <div class="col-md-4 mb-4">
            <div class="card-block red-block">
                <i class="fas fa-calendar-alt fa-3x mb-3"></i>
                <h3>Auditoria Central</h3>
            </div>
        </div>
        <!-- Bloque 2 -->
        <div class="col-md-4 mb-4">
            <div class="card-block green-block">
                <i class="fas fa-check-square fa-3x mb-3"></i>
                <h3>Auditoria CERI</h3>
            </div>
        </div>
        <!-- Bloque 3 -->
        <div class="col-md-4 mb-4">
            <div class="card-block orange-block">
                <i class="fas fa-user-tie fa-3x mb-3"></i>
                <h3>Sala de gobierno</h3>
            </div>
        </div>
        <!-- Bloque 4 -->
        <div class="col-md-4 mb-4">
            <div class="card-block orange-block">
                <i class="fas fa-user-tie fa-3x mb-3"></i>
                <h3>Sala de usos multiples modulo O</h3>
            </div>
        </div>
        <!-- Bloque 5 -->
        <div class="col-md-4 mb-4">
            <div class="card-block orange-block">
                <i class="fas fa-user-tie fa-3x mb-3"></i>
                <h3>Sala de laboratorio de Innovacion</h3>
            </div>
        </div>
        <!-- Bloque 6 -->
        <div class="col-md-4 mb-4">
            <div class="card-block orange-block">
                <i class="fas fa-user-tie fa-3x mb-3"></i>
                <h3>Aula Amplia 1 - 5</h3>
            </div>
        </div>
        <!-- Bloque 7 -->
        <div class="col-md-4 mb-4">
            <div class="card-block orange-block">
                <i class="fas fa-user-tie fa-3x mb-3"></i>
                <h3>Explanada del auditorio Central</h3>
            </div>
        </div>
        <!-- Bloque 8 -->
        <div class="col-md-4 mb-4">
            <div class="card-block orange-block">
                <i class="fas fa-user-tie fa-3x mb-3"></i>
                <h3>Explanada de Aulas Amplias</h3>
            </div>
        </div>
    </div>
</div>