<form class="formulario" [formGroup]="formUser" (submit)="sendDataToService()">
    <h1>Registrate</h1>
    <div class="contenedor">

        <div class="input-contenedor">
            <label>Nombre</label>
            <input type="text" placeholder="Nombre(s)" formControlName="nombre">
        </div>

        <div class="input-contenedor">
            <label>Apellidos</label>
            <input type="text" placeholder="Apellidos" formControlName="apellido">
        </div>

        <div class="input-contenedor">
            <label>Telefono</label>
            <input type="tel" placeholder="Telefono" formControlName="telefono">
        </div>

        <div class="input-contenedor">
            <label>Correo Electronico</label>
            <input type="email" placeholder="Correo Electronico" formControlName="correo_electronico">
        </div>

        <div class="input-contenedor">
            <label>Contraseña</label>
            <input type="password" placeholder="Contraseña" formControlName="password">
        </div>

        <div class="input-contenedor">
            <label>Rol</label>
            <select formControlName="rol">
                <option value="" disabled selected>Selecciona tu rol</option>
                <option value="organizador">Organizador</option>
                <option value="participante">Participante</option>
                <option value="administrador">Administrador</option>
            </select>
        </div>

        <input type="submit" value="Registrate" class="btn">
        <p class="text-center mt-3">¿Ya tienes cuenta? <a href="#" class="link">Iniciar Sesion</a></p>

    </div>
</form>